---
---

@import "grid";

$columns: 12;
$column-width: 60;
$gutter-width: 20;

$total-width: 100%;

// Includes a medium style underline to a piece of text
// (extracted from: http://codepen.io/timbrown/pen/kuDxK)
@mixin medium-underline($transparency: 14%) {
  background-image: linear-gradient(
    to top,
    transparent 11%,
    rgba(0, 0, 0, 0.7) 6%,
    rgba(0, 0, 0, 0.3) 11%,
    transparent $transparency
  );
}

body {
  font-family: Helvetica-Neue, Helvetica, OpenSans, Arial, Sans-Serif;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

p {
  line-height: 1.4em;
}

code {
  border: solid 1px #ccc;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}

pre code {
  border: 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: #000;
  @include medium-underline();

  &:hover,
  &:visited {
    @include medium-underline(17%);
    color: #000;
  }
}

.header {
  h1 {
    $font-size: 2.3em;
    font-size: $font-size;
    padding: 0;
    margin: 0;

    a,
    a:hover,
    a:visited {
      background-image: none;
    }

    a.about-asterisk {
      transition: font-size 0.1s ease-in-out;
      line-height: 0.1em;

      &:hover {
        font-size: 1.2em;
        transition: font-size 0.2s ease-in-out;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: -0.1em;
    padding-left: 0.7em;
  }

  li {
    display: inline-block;
  }

  .contact-info {
    font-weight: lighter;
  }
}

blockquote {
  background-color: #f9f9f9;
  border-left: solid 8px #ddd;
  margin: 0;
  padding: 2px;
  padding-left: 14px;
  font-style: italic;
}

h2 {
  text-transform: lowercase;
  font-size: 1.8em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h4 {
  color: #555;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

.section-title {
  padding-bottom: 20px
}

.projects {
  text-align: right;
  @include column(9);

  .items {
    .item {
      max-width: 30%;
      margin: 0.6em;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.item {
  text-align: left;
  p {
    padding: 0;
    margin: 0;
    font-weight: lighter;
  }
}

.item-title {
  font-weight: bold;
}

.item-description {
  font-size: 0.8em;
  color: #666;
}

.posts {
  @include column(3);

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 0.6em;
    list-style: none;
  }
}

.post-content {
  p {
    text-align: justify;
  }

  img {
    background-color: #F5F5F5;
    display: block;
    max-width: 70%;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  clear: both;
  color: #9C9C9C;
  font-size: 0.8em;
  padding-top: 1em;
}

@media screen and (max-width: 930px) {
  .projects .items .item {
    max-width: 45%;
  }
}

@media screen and (max-width: 630px) {
  .wrapper {
    margin: 0;
  }

  .projects {
    @include column(12);
  }

  .posts {
    @include column(12);
  }

  .projects .items .item {
    max-width: 100%;
    margin: 0;
    margin-bottom: 0.6em;
  }
}
